{# vim: set ft=jinja #}
<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html/charset=utf-8" http-equiv="Content-Type">
    <style>{% include "styles.css" %}</style>
    {#<link rel="stylesheet" type="text/css" href="./templates/styles.css">#}
  </head>

  <body>
    <h1>Intro</h1>
    <p>
      A friend did a <a href="https://web.blot.tech/">cool list</a> so I did something similar.
      This is a mostly complete list of games I've played over the years. The year played can
      sometimes be a ballpark, sometimes because I don't have the data (not everything is in steam)
      and sometimes because I played some games for years, or on and off over many years, so it's
      not very relevant.
    </p>
    <p>
      That list is pretty biased of course, I rather prefer immersive and intricate games, and don't
      really like some other genres. Also, as of early 2023 I still have a very old computer, which effectively
      prevent me to play modern AAA games.
    </p>

    <p>Some title have ❤️ symbols. These are my favorites despite their potential flaws.</p>

    <h2>Last additions</h2>
    <ol>
    {% for recent in recents %}
    <li><a href="#review-{{recent.id}}">{{recent.title}}</a></li>
    {% endfor %}
    </ol>

    <h2>Sections</h2>
    <ul class="menu">
      {% for section in sections %}
      <li><a href="#{{section.category.title|lower}}">{{section.category.title}}</a></li>
      {% endfor %}
    </ul>

    {% for section in sections %}
    <h1 id="{{section.category.title|lower}}">{{ section.category.title }}</h1>
    <p>{{section.category.description}}</p>

    <p>
      <ul class="reviews">

      {% for review in section.reviews %}
      <li id="review-{{review.id}}" class="game-review">
          <div class="review-cover">
            <a href="{{review.link}}">
              <img src="{{review.cover_url}}" alt="{{review.title}} cover image">
            </a>
          </div>
          <div class="review-body">
            <p class="title"><a href="{{review.link}}">{{review.title}}</a>
              {% match review.date_released %}
              {% when Some with (date) %}
              &mdash; Released in {{date}}
              {% when None %}
              {% endmatch %}

              {% match review.rating %}
              {% when Some with (rating) %}
              &mdash; {{rating}}/20
              {% when None %}
              {% endmatch %}

              {% match review.heart_count %}
              {% when Some with (count) %}
              <span class="heart">{{"❤️"|repeat(count)}}</span>
              {% when None %}
              {% endmatch %}
            </p>

            <p class="genres"> {{review.genres|join(", ") }}</p>
            <p class="description">{{review.description}}</p>
            {% match review.pros %}
            {% when Some with (pros) %}
            <p class="pros">{{pros}}</p>
            {% when None %}
            {% endmatch %}

            {% match review.cons %}
            {% when Some with (cons) %}
            <p class="cons">{{cons}}</p>
            {% when None %}
            {% endmatch %}

          </div>

      </li>
      {% endfor %}
      </ul>
    </p>
    {% endfor %}

  </body>
</html>
