body {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.5rem;
}

:root {
  --hl-color: #FCFCFC;
  /* --hl-bg-color: #8F43EE; */
  --hl-bg-color: #0288d1;
}

* {
  box-sizing: content-box;
}

.game-review {
  display: flex;
  border-top: 1px solid rgba(0,0,0,.3);
  margin-top: 1rem;
  padding-top: .5rem;
}

.reviews {
  padding: 0;
}

.review-body p {
  margin: .2rem 0;
}

.review-cover, .review-body {
  padding: 0 .5rem;
}

.review-body .title {
  font-weight: bold;
  font-size: 1.3rem;
}

.review-body .info {
  font-weight: italic;
}

.review-body .genres li {
  display: inline-block;
  padding: .2rem .5rem 0 0;
}

.review-body .genres li:hover {
  cursor: pointer;
}
.review-body .description::before { content: "ℹ️ "; }
.review-body .pros::before { content: "✔️ "; }
.review-body .cons::before { content: "❌ "; }

.heart {
  letter-spacing: .4rem;
  text-align: center;
}
